@media (min-width: 300px)  and (max-width: 600px) {
    .col-md-8 , .col-md-10 , .desktop-lang{
        display:none;
    }
    
    #cards .card {
        max-width: 100%;
    } 
    .col-lg-2{
        margin-top: -130px;
    }
    footer h1 {
        margin-top: 60px;
    }
    .mobile-lang, .open .call-dark ,  .mobile-search , .mobile-btn {
        display:block;
    }
    .call {
        display:block;
    }
    .open .call {
        display: none !important;
    }
    .popup-order-call , .popup-order-success{
        margin: 25% 5% 5% 5%;
        padding: 30px;
    }
    .popup-order-success .popup-title {
        margin-top: 0px !important;
        font-size: 16px;
    }
    .img-success {
        margin-top: 110px;
        margin-bottom: 0px;
    }
    #success{
        width: 100%;
    }
    .popup-close{
        margin: 20px;
    }
    .popup-title{
        margin-top: 20px;
    }
    .popup-form input[type=text] {
        border-bottom: 1px solid rgba(74, 74, 74, 0.3);
        margin: 0px 0px 50px 0px;
    }
} 

@media (min-width: 601px)  and (max-width: 800px) {
    .col-md-8 , .col-md-10 , .desktop-lang{
        display:none;
    }
    .call{
        display: block;
    }
    #cards .card {
        max-width: 28%;
    } 
} 

@media (min-width: 801px) and (max-width: 1300px) {
    .mobile{
        display: inline !important;
    }
    .second{
        display: none;
    }
    .mobile img{
        margin-bottom: 42px;
    }
    .f-img{
        margin-left: 28px;
    }
    footer h1 {
        margin-top: 0;
        margin-right: 40px;
        margin-bottom: 25px;
        margin-left: 28px;
    }
    #cards .card {
        max-width: 29%;
        margin: 15px;
    }

}
@media only screen and (max-width: 1000px){
    #cards h1{
    padding-right: 0px;
    margin-left: 32px;
    margin-right: 32px;
}
}
@media only screen and (max-width: 1095px){

    #title .content{
        background-image: url("../img/title-logo.png");
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 128px;
        padding-bottom: 100px;
        
    }
    #title h1{
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
}
    #stage .col-md-3 {
       width: 70%;
       max-width: 70% !important;
       margin-left: auto;
       margin-right: auto;
    }

    #stage .desktop {
        display: none;
    }
    #stage .no-desktop {
        display: block;
            height: 60px;
            padding: 0px;
            width: 30px;
            max-width: 30px;
            margin-left: auto;
            margin-right: auto;
    }
    #stage .arrow {
        margin: 3px;
        position: absolute;
        transform: rotate(90deg);
    }
    #stage .col-md-1 {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 700px){
#img .img{
    padding-bottom: 250px;
    background-image: url("../img/image\ 2.1.png");
    background-size: cover;
    background-position: center center;
    }
      #stage .col-md-3 {
          width: 100%;
          max-width: 100% !important;
          margin-left: auto;
          margin-right: auto;
      }

}
@media only screen and (max-width: 1000px){
    #map .map{
    margin-top: 0;
    padding-bottom: 249px;
    background-image: url("../img/map-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    }
    #map .map-title{
    padding-top: 0;
    margin-bottom: 200px;
    }
}