﻿body {
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
}

nav li {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* margin-left: 28px;
    margin-top: 28px; */
}

.call,
.call-dark {
    /* width: 38px; */
    float: right;
    margin-top: 32px;
    display: none;
}

.dropdown .dropdown-item {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
    background: #FBB00F;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    font-weight: 500;
    color: white;
    padding: 15px 58px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 0.4s;
    white-space: nowrap;

}

.button:hover {
    transition: background 0.4s;
    background: #E2910A;
}

nav a {
    color: #3F3E39 !important;
    transition: color 0.4s;
    white-space: nowrap;
}

nav a:hover {
    transition: color 0.4s;
    color: #FABA02;
    text-decoration: none;
}

ul#info li {
    display: inline-block;
    margin-top: 32px;
    margin-right: 28px;

}

.clear {
    clear: both;
}

.header .col-md-2,
.header .col-md-3,
.header .col-md-8,
.header .col-md-10 {
    float: left;
    /* padding: 0px; */
}

/*.navbar{
    margin-top: -47px !important;
}
 ul#info {
padding-left: 353px;
} */
.container.header.open {
    background: #302F2B;

}

/* .header select{
    float: right;
    margin: 34px 0px 0px;
} */
.search-title {
    line-height: 60px;
    padding: 0px 0px 0px 20px;
    background: url(../img/lupa.png);
    background-repeat: no-repeat;
    width: 360px;
    background-position: right center;
    margin-right: 40px;
    cursor: pointer;
}

.mobile-search-dark {
    display: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: none;
}

#logo,
#logo-dark {
    width: 184px;
}

#logo-dark,
.open .mobile-search {
    display: none !important;
}

.open #logo-dark,
.open .mobile-search-dark {
    display: block !important;
}

.open #logo {
    display: none !important;
}

.open a {
    color: #fff !important;
}

.mobile-lang,
.mobile-search,
.mobile-btn {
    display: none;
}

.mobile-btn {
    padding: 20px;
    width: 190px;
    text-align: center;
}

.open .mobile-lang,
.open .call-dark,
.open-dropdown .dropdown-menu {
    display: block;
    color: #fff;
}

.call-dark {
    display: none;
}

/* .call {
    display:block;
} */
.open .desktop-lang {
    display: none;
}

.desktop-lang {
    width: 50px;
    border: none;
    font-weight: 600;
    font-size: 11px;
    background: #fff;
    float: right;
    margin: 34px 0px 0px;

}

.desktop-lang:focus {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    border: none;

}

.search-area {
    background: #F1F0EC;
    border: none;
    padding: 30px 0px 30px 30px;
    min-width: 500px;
    margin-right: -20px;
    outline: none;
}

.btn-search {
    border: none !important;
    padding: 0px;
    height: 80px !important;
    background-size: contain !important;
    position: absolute;
    right: 0px;
    top: 0px;
}


.form.open-search {
    display: block;
    -webkit-transform: translateX(-100);
    transform: translateX(-100px);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.form {

    /* -webkit-transform: translateX(-240px); */
    /* transform: translateX(0px); */
    /* -webkit-transition-duration: 0.5s; */
    /* transition-duration: 0.5s; */
    transition-duration: 0.5s;
    transform: translateX(770px);
    position: absolute;
    top: 0px;
}

ul#info p {
    text-transform: none;
    font-size: 11px;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: auto;
}

.header .navbar-toggler {
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 40px;
}

.navbar-dark .navbar-toggler {
    border-color: none !important;
}

.header.open .navbar-toggler {
    background: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    margin-top: 40px;
    outline: none !important;
}

/* .navbar-nav{
    padding-left: 120px;
} */
.container.header {
    width: 100%;
    max-width: 1360px;
    overflow: hidden;
}

.right-info {
    float: right;
}

.navbar-nav a {
    margin-top: 28px;
    margin-left: 22px;
}

.btn-search {
    background: url(../img/lupa.png);
    width: 20px;
    height: 20px;
    background-position: center center;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.second-number {
    margin-top: 4px;
}

#info {
    float: left;
}

footer {
    margin-top: 20px;
    padding: 0 40px 0;
}

footer h2 {
    font-weight: 600;
    font-size: 11px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 24px;

}

footer p {
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0.05em;

    margin-bottom: 6px;
}

footer .email {
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #3F3E39;

}

footer .email:hover {
    color: #000;
}

footer .tel {
    margin-top: 20px;
}

footer .tel-last {
    margin-bottom: 18px;
}

footer .list-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer .list-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

footer .list-3 {
    margin-bottom: 6px;
}

footer h1 {
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 20px;
}

footer .second {
    margin-left: 30px;
}

footer .second img {
    margin-top: 86px;

}

.col-lg-10,
.col-lg-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.social-icons {
    margin: 0px 0px 20px 0px;
}

.mobile {
    display: none;
}

#cards {
    color: #302F2B;
    margin-top: 200px;
    font-family: IBM Plex Sans;
}

#cards h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 40px;
}

#cards .card {
    background: #FBB00F;
    border-radius: 0%;
    min-height: 302px;
    float: left;
    margin: 13px;
    max-width: 31%;
    padding: 30px;
}

#cards img {
    width: 72px;
    height: 72px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

#cards .card-number {
    font-weight: 500;
    font-size: 19px;
}

#cards .card-title {
    font-size: 19px;
    margin-top: 80px;
    line-height: normal;
    font-weight: 600;
}

#cards .card-text {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    margin-top: 30px;
}

#cards .mobile-card {
    display: none;
}

#title {
    color: #302F2B;

}

#title .content {
    background-image: url("../img/title-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
    padding-top: 170px;
    padding-bottom: 170px;
}

#title h1 {
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
}

#title h1:first-child {
    padding-bottom: 40px;
}

#img .img {
    padding-bottom: 352px;
    background-image: url("../img/img-title-1.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#map h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    margin-top: 75px;
}

#map .horizontal-line {
    border: 1px solid #F0A321;
    width: 96px;
    margin-top: 53px;
    margin-left: 0;
}

#map h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    margin-top: 30px;
}

#map p {
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    margin-top: 21px;
}

#map .map {
    padding-bottom: 640px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#map .map-title {
    padding-top: 106px;
}

#stage {
    font-family: 'IBM Plex Sans', sans-serif;
}

#stage .card {
    padding: 55px;
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 260px;
}

#stage img {
    display: block;
    margin: auto;

}

#stage .card-1 {
    background: url("../img/transport/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#stage .card-2 {
    background: url("../img/transport/2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#stage .card-3 {
    background: url("../img/transport/3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#stage p {
    margin-top: 38px;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}

#stage .arrow {
    height: 12px;
    margin: 3px;
    position: absolute;
    top: 50%;
}

#stage .col-md-3 {
    width: 31%;
    max-width: 60% !important;
    /* display: block; */
    flex: none;
}

#stage .col-md-1 {
    height: 260px;
    padding: 0px;
    width: 30px;
    max-width: 30px;
}

#stage .no-desktop{
    display: none;
}

.card-body {
    z-index: 999;
}

.collapse.show {
    display: none;
}

.show-mobile-menu.show {
    display: block !important;
}

#stage .title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    margin-top: 136px;
    margin-bottom: 40px;
}

#stage h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: normal;
    text-align: center;
    color: #fff;
    margin-top: 25px;
}

#stage p {
    padding-top: 38px;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}

#documents .title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    margin-top: 136px;
}

#showcase .title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    margin-top: 136px;
}

#prefooter .title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    margin-top: 136px;
}








/*
.logo{
float: left;
margin-top: 66px;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 28px;
    margin-top: 28px;
}

nav a{
    color: #3F3E39;
    transition: color 0.4s;
}
nav a:hover{
    transition: color 0.4s;
    color: #FABA02;
    text-decoration: none;
}
nav p{
    text-transform: none;
    font-size: 11px;
    letter-spacing: 0.05em;
    font-weight: normal;
}
.first-li{
    margin-left: 92px;
}
.first-number{
    margin-top: 32px;
}
.second-number{
    margin-top: 4px;
}
.container{
    margin-left: 40px;
}
.button {
    background: #FBB00F;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    font-weight: 500;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 0.4s;
}
.button:hover{
    transition: background 0.4s;
    background: rgb(243, 196, 94);
}

/* font-family: 'IBM Plex Sans', sans-serif; */

.dropdown-menu.show {
    min-width: auto;
}

.dropdown-toggle,
.dropdown-toggle:active,
.btn.focus,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu.show {
    display: block;
    padding: 13px 7px;
    margin: 0px 0px 0px -20px;
}

.dropdown-item {
    padding: 10px 23px;
}

.overlay {
    display: none;
    position: fixed;
    opacity: 0;
}

.overlay-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(000, 000, 000, 0.5);
}

.overlay.show-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(000, 000, 000, 0.8);
    z-index: 99999;
    display: block;
    opacity: 1;
    transition: 1s;
}

.popup-order-call,
.popup-order-success {
    background: #FFFFFF;
    min-height: 400px;
    margin-top: 10%;
    margin: 10% auto 0px;
    padding: 40px 70px;
    max-width: 890px;
    position: relative;
}

.popup-form input[type=submit] {
    background: #302F2B;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    border: none;
    line-height: 50px;
    width: 230px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    float: right;
}

.popup-form input[type=text] {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: none;
    font-family: 'Open Sans', sans-serif;
    color: #302F2B;
    border: none;
    border-bottom: 1px solid #302F2B;
    line-height: 50px;
    width: 280px;
    outline: none;
    margin: 20px 30px 30px 0px;
    transition: border-bottom 0.3s ease;
}

.popup-form {
    display: block;
    width: 100%;
}

.popup-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #302F2B;
    display: block;
    width: 100%;
}

.popup-subtitle {
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0.05em;
    color: #302F2B;
    margin-top: 20px;
    margin-bottom: 40px;
}

.popup-close {
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    margin: 40px 70px;
    top: 0px;
}

.hide-form,
.popup-order-success {
    display: none;
}

.show-form {
    display: block;
}

.img-success {
    margin-top: 110px;
    margin-bottom: 40px;
}