@media (max-width: 500px){
    .big-logo {
        display: none;
    }
    .title , .subtitle , .small-description{
        text-align: center;
    }
    .countdown_row {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        width: 310px;
    }
    .counter-form input{
        width: 100% !important;
    }
    .counter-page .logo img {
        margin-top: 15px;
    }
}