﻿
body{
    background: url(../img/counter-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}
.big-logo{
    position: absolute;
    right: 100px;
    height: 83vh;
    margin: 3% 0px;
}
.counter-page .logo img{
    margin-top: 105px;
}
.title{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}
.subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}
.small-description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}
.counter-form input[type=submit]{
    background: #FBB00F;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    border: none;
    line-height: 50px;
    width: 230px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    margin: 0px 30px 30px 0px;
}
.counter-form input[type=text]{
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: none;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    line-height: 50px;
    width: 230px;
    outline: none;
    margin: 0px 30px 30px 0px;
}