#hour,#min,#sec,#day {
	float:left;
	padding:5px;
	width:48px;
	height:55px;
	position:relative;
	display:block;
}
			
p {
    margin: 0px;
    padding: 0px;
    width: 25px;
    height: 25px;
	color: #FBB00F;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}
#sec1,#min1,#hour1,#day1 {
	margin-left:14px;
}
#timer_wrap {
	margin-top: 50px;
}		
#clock {

}
#razd {
	float:left;
	color:#ffffff;
	font-weight:bold;
	font-size:3em;
	margin:0px 3px 0px 3px;
}
#stop {
	color:white;
	font-size:2em;
	margin:15px 10px 10px 25px;
	position:absolute;
}