/*-------------------------------------------------*
/* =  Reset
/*-------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, select, textarea {
	outline: none;
}

/*-------------------------------------------------*
/* =  General Style
/*-------------------------------------------------*/
html { 
	background: url(../bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: arial;
	font-size: 12px;
	color: #fff;
}

/*-------------------------------------------------*
/* =  Underconstruction Style
/*-------------------------------------------------*/
#underconstruction-container	{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 720px;
	height: 610px;
	margin-left: -360px;
	margin-top: -305px;
}

#logo {
	background: #fff;
	text-align: center;
	height: 97px;
}

#logo a {
    display: inline-block;
    margin: 24px 0px;
    font-weight: 700;
    color: #5d95bb;
    font-size: 43px;
    /* text-transform: uppercase; */
    text-decoration: none;
}

#content {
	padding: 25px 20px;
    background: rgba(70, 135, 183, 0.8);

	overflow: hidden;
}

#underconstruction-title {
	font-family: 'Open Sans';
	font-size: 21px;
	color: #fff;

	text-transform: uppercase;
	text-align: center;
	background: url(divider.png) no-repeat center bottom;
}


#countdown-container {
	clear: both;
	padding: 12px 42px 36px 42px;
	overflow: hidden;
	text-align: center;
	background: url(divider.png) no-repeat center bottom;
}

.countdown_row {
	display: inline-block;
	overflow: hidden;
}

span.countdown_section:first-child {
	margin-left: 0px;
}

span.countdown_section {
    margin-right: 0px;
    font-size: 10px;
    float: left;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    width: 44px;
    line-height: 42px;
    /* margin-left: 20px; */
}

.countdown_amount {
	font-family: 'Open Sans';
	font-weight: bold;
	line-height: 74px;
}
.dots{
	font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 27px;
}